uvicorn
fastapi
pydantic
openai
requests
google-genai
groq
dotenv
jwt
python-jose[cryptography]
pypdf
sentence-transformers
numpy
python-multipart
langchain
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
langgraph
ddgs
mcp[cli]